#wmd-preview code,
#wmd-preview pre {
  background-color: #eee;
}

#wmd-preview pre {
  & > code {
    background: none;
  }

  &.shiki .line {
    position: static;
    background-color: transparent;
  }

  &.mermaid {
    &:first-child {
      margin-top: 0.5rem;
    }

    &[data-processed="true"] {
      background: transparent;
    }
  }
}
