@import url("variables.less");

@card-width: @breakpoint-md - (2 * 8px);
@card-height: 240px;

.matecho-article-card__animating {
  position: fixed;
  pointer-events: none;
  transition:
    all 0.3s,
    left 0.2s;
  width: @card-width;
  height: @card-height;
  left: calc((100% - @card-width) / 2);
  box-shadow: none;

  & .matecho-article-card__meta {
    animation: fade-out 0.3s forwards;
    width: var(--fixed-size);
    box-sizing: border-box;
  }

  &.matecho-article-card__reverse {
    transition:
      all 0.3s,
      top 0.2s;
  }
}

@media (width < @breakpoint-md) {
  .matecho-article-card__animating {
    width: 100%;
    left: 0;
    border-radius: 0;
  }
}

.matecho-article-cover {
  background-color: rgb(var(--mdui-color-surface-container-low));
}

.matecho-article-animation__running .matecho-article-cover {
  visibility: hidden;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .matecho-article-card,
  .matecho-article-cover {
    background-color: rgb(var(--mdui-color-surface-container));
  }
}